= form_for [@u,@new_grant], path: upload_grants_path(@u) do |f|
  %p Enter three consecutive characters of a user's email, and you'll see a list of potential viewers to add in a drop-down.
  = label_tag :email
  = text_field_tag :email
  = f.submit 'Add Viewer'

  .list
    - @u.grants.includes(:user).order('users.email').each do |g|
      .list-item
        %span= g.user.email
        -# Comment out remote: true to disable XHR for delete
        = link_to (image_tag 'Delete.png'), upload_grant_path(@u.id,g.id), method: :delete, remote: true,
        title: 'Remove Viewer'