%h3 Edit Upload

=render 'upinfo'

= form_for @u, path: upload_path(@u)  do |f|
  .entry
    = f.label :description
    = f.text_field :description
    - errors_for(@u,:description)
  .entry
    = f.label :submit, style: 'visibility: hidden'
    = f.submit
    = link_to 'Cancel', uploads_path, class: 'cancel_btn'

