%h3 Edit Upload

= hidden_field_tag :members_json, @json_members
= hidden_field_tag :accordion_tab_number, flash.now[:accordion_tab_number] || "0"
-#= text_field_tag :members_autocomp
-#= button_tag 'Add', id: 'add-viewer'


#accordion
  %h3 Image and Description
  %div
    =render 'upinfo'

    = form_for @u, path: upload_path(@u), remote: true  do |f|
      .entry
        = f.label :description
        = f.text_field :description
        - errors_for(@u,:description)
      .entry
        = f.label :submit, style: 'visibility: hidden'
        = f.submit 'Update Description'
        -#= link_to 'Cancel', uploads_path, class: 'cancel_btn'
  %h3 Access by Other Users
  #grants-form-container
    = render partial: 'grants/grants_form'




